.s0 {	
      color: #B10101;
      font-weight: bold;
      font-size: 16px;
}

.s1 {	
      color: #303030;
      font-weight: bold;
      text-indent: -30;
      margin-left: 30; 
}

.s2 {	
      margin-left: 30;
      color: #303030;
      font-weight: bold;
      text-indent: -39;
      margin-left: 69;
}

.s3 {	
      margin-left: 70;
      color: #303030;
      text-indent: -48;
      margin-left: 118; 
}

.s4 {	
      margin-left: 117;
      color: #303030;
      text-indent: -48;
      margin-left: 166;
}

p {
      color: #303030;
      font-family: Arial,Helvetica,sans-serif;
      font-size: 12px;
      display: inline;
      //text-align: justify;
}

.p1 { margin-left: 0;  }
.p1b{ margin-left: 15; }
.p2 { margin-left: 30; }
.p2b{ margin-left: 50; }
.p3 { margin-left: 70; }
.p3b{ margin-left: 93; }
.p4 { margin-left: 118;}
.p4b{ margin-left: 142;}
.p5 { margin-left: 170;}
.p5b{ margin-left: 190;}
.p6 { margin-left: 210;}

.l1 { 
      text-indent: -22;
      margin-left: 22; }
.l1b{ 
      text-indent: -22;
      margin-left: 37; }
.l2 { 
      text-indent: -22;
      margin-left: 52; }
.l2b{ 
      text-indent: -22;
      margin-left: 72; }
.l3 { 
      text-indent: -22;
      margin-left: 92; }
.l3b{ 
      text-indent: -22;
      margin-left: 115;}
.l4 { 
      text-indent: -22;
      margin-left: 140;}
.l4b{ 
      text-indent: -22;
      margin-left: 164;}
.l5 { 
      text-indent: -22;
      margin-left: 192;}
.l5b{ 
      text-indent: -22;
      margin-left: 212;}
.l6 { 
      text-indent: -22;
      margin-left: 232;}

.u1 { margin-left: 0;  }
.u1b{ margin-left: 6;  }
.u2 { margin-left: 11; }
.u2b{ margin-left: 24; }
.u3 { margin-left: 57; }
.u3b{ margin-left: 80; }
.u4 { margin-left: 105;}
.u4b{ margin-left: 130;}
.u5 { margin-left: 176;}
.u5b{ margin-left: 190;}
.u6 { margin-left: 210;}

h1 
{
	text-align: center
	//font-weight: bold;
}

h2 {text-align: left}
h3 {text-align: right}

ul.disc   { list-style-type: disc   }
ul.circle { list-style-type: circle }
ul.square { list-style-type: square }
ul.none   { list-style-type: none   }
ul.decimal {list-style-type: decimal}


a:link 
{
  	color: #303030;
  	text-decoration: underline;
}

a:hover
{
  	color: #B10101;
  	text-decoration: none;
}

.headline 
{	text-align: center
  	color: #404040;
  	font-family: Arial,Helvetica,sans-serif;
  	font-size: 14px;
  	font-weight: bold;
  	display: block;
}

.byline 
{
  	color: #B10101;
  	font-weight: bold;
  	display: inline;
}