<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE taglib
        PUBLIC "-//Sun Microsystems, Inc.//DTD JSP Tag Library 1.2//EN" 
        "http://java.sun.com/dtd/web-jsptaglibrary_2_0.dtd">
<taglib>
	<tlibversion>1.1</tlibversion>
	<jspversion>2.0</jspversion>
	<shortname></shortname>
	<tag>
		<name>polis</name>
		<tagclass>com.ekalife.utils.tags.Polis</tagclass>
		<attribute>
			<name>nomor</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>spaj</name>
		<tagclass>com.ekalife.utils.tags.Spaj</tagclass>
		<attribute>
			<name>nomor</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
	<tag>
		<name>mku_no_reg</name>
		<tagclass>com.ekalife.utils.tags.Mku_no_reg</tagclass>
		<attribute>
			<name>nomor</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>	
	<tag>
		<name>currency</name>
		<tagclass>com.ekalife.utils.tags.Currency</tagclass>
		<attribute>
			<name>jumlah</name>
			<required>true</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>kurs</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
		<attribute>
			<name>terbilang</name>
			<required>false</required>
			<rtexprvalue>true</rtexprvalue>
		</attribute>
	</tag>
</taglib>
