@charset "iso-8859-1";

/* Global Settings */
html,body {
	margin: 0px;
	padding: 0px;
	font-size: 100%;
	background-color: #ffffff;
}

form {
	margin-top: 0;
	margin-bottom: 0;
}

input,select,textarea {
	border: 1px solid;
}

body,input,select,textarea,table tr td {
	font-family: verdana, geneva, arial, helvetica, sans-serif;
	text-transform: uppercase;
	font-size: 7pt;
}

fieldset {
	padding: 0.5em;
}

legend {
	color: #cc3300;
	font-size: 7.5pt;
	font-weight: bold;
}

/* Table tampilan di viewer */
table.entry2 {
	width: 100%;
	font-size: 10px;
	color: #666666;
	font-weight: normal;
	text-decoration: none;
	background-color: #f7f7f7;
}

table.entry2 th {
	background-color: #ebebeb;
}

.left {
	text-align: left;
}

th.center {
	text-align: center;
}

/* Tabel untuk data entry */
table.entry {
	border: none;
	margin: 1px;
	padding: 1px;
}

table.entry th {
	text-align: left;
	background-color: #fff2ca;
	color: #996600;
	font-size: 7.5pt;
	font-weight: bold;
	height: 20px;
	vertical-align: top;
}

table.entry th.col {
	text-align: center;
}

table.entry th.subtitle {
	background-color: #800000;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	height: 20px;
}

table.entry th.subtitle2 {
	background-color: #af8849;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	height: 20px;
}

table.entry tr.center th {
	text-align: center;
	background-color: #fff2ca;
	color: #996600;
	font-size: 7.5pt;
	font-weight: bold;
	height: 20px;
}

table.entry tr.center td {
	text-align: center;
}

table.entry td {
	text-align: left;
	background-color: #ffffff;
	color: #000000;
	font-size: 7.5pt;
	font-weight: normal;
	height: 20px;
}

/* Tabel Untuk Data */
table.simple thead tr {
	background-color: #eee;
	vertical-align: middle;
	text-align: center;
	color: black;
}

table.simple th {
	background-color: #eee;
	vertical-align: middle;
	text-align: right;
	color: black;
}

table.simple caption {
	text-align: left;
	font-weight: bold;
	margin-bottom: 3px;
}

table.simple {
	width: 95%;
	font-family: verdana, geneva, arial, helvetica, sans-serif;
	font-size: 7pt;
	border: 1px solid #ccc;
	border-collapse: collapse;
}

table.simple td,table.simple th {
	border: 1px solid #ccc;
}

table.simple td.subheader {
	text-align: center;
}

/* Tambahan untuk displaytags */
table.displaytag thead tr {
	background-color: #dcdcdc;
	vertical-align: middle;
	text-align: center;
}

table.displaytag caption {
	text-align: left;
	font-weight: bold;
	margin-bottom: 3px;
}

table.displaytag {
	width: 100%;
	font-family: verdana, geneva, arial, helvetica, sans-serif;
	font-size: 7pt;
	border: 1px solid #ccc;
	border-collapse: collapse;
}

table.displaytag td,table.displaytag th {
	border: 1px solid #ccc;
}

table.displaytag td {
	text-align: right;
	background-color: #FFFFF;
}

table.displaytag tr.odd {
	background-color: #eee;
}

table.displaytag tr.even {
	background-color: #FFFFF;
}

table.displaytag td.left {
	text-align: left;
}

table.displaytag td.center {
	text-align: center;
}

table.displaytag tr.total {
	background-color: #eee;
	font-weight: bold;
}

div.exportlinks {
	width: 100%;
	text-transform: capitalize;
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	margin: 0px 0 10px 0;
	height: 18px;
}

span.export {
	padding: 0 4px 1px 20px;
	height: 18px;
}

span.csv {
	background: url(../image/save.gif) no-repeat;
}

span.excel {
	background: url(../image/excel.gif) no-repeat;
}

span.pdf {
	background: url(../image/pdf.gif) no-repeat;
}

th.sorted a,th.sortable a {
	text-decoration: none;
	background-position: right;
	display: block;
}

th.sortable a {
	background: url(../image/arrow_off.png) no-repeat;
}

th.order1 a {
	background-image: url(../image/arrow_down.png);
}

th.order2 a {
	background-image: url(../image/arrow_up.png);
}

th.sorted {
	background-color: #a5a5a5;
}

th a,th a:visited {
	color: black;
}

th a:hover {
	text-decoration: underline;
	color: black;
}

span.pagebanner {
	text-transform: capitalize;
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 100%;
	margin-top: 3px;
	display: block;
	border-bottom: none;
}

span.pagelinks {
	text-transform: capitalize;
	background-color: #eee;
	border: 1px dotted #999;
	padding: 2px 4px 2px 4px;
	width: 100%;
	display: block;
	border-top: none;
	margin-bottom: 3px;
}

#tagContainer {
	margin: 3px 3px 3px 3px;
	overflow: auto;
	height: 505px;
	width: 750px;
}

/* Custom classes */
input.bacNavigation {
	cursor: pointer;
	height: 27px;
	width: 99px;
	border: none;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

input.pdf {
	background: url(../image/pdf.gif) no-repeat;
	height: 21px;
	width: 60px;
	text-align: right;
}

input.xls {
	background: url(../image/excel.gif) no-repeat;
	height: 21px;
	width: 60px;
	text-align: right;
}

input.applet {
	background: url(../image/duke.gif) no-repeat;
	height: 21px;
	width: 60px;
	text-align: right;
}

input.htm {
	background: url(../image/htm.gif) no-repeat;
	height: 21px;
	width: 60px;
	text-align: right;
}

.info {
	font-family: verdana, geneva, arial, helvetica, sans-serif;
	font-size: 7pt;
	color: blue;
	font-weight: normal;
	text-transform: none;
}

.upperCase {
	text-transform: uppercase;
}

.disabled {
	background-color: #dcdcdc;
}

.tabmenu {
	border-bottom: 1px solid black;
	margin: 12px 0px 0px 0px;
	padding: 0px;
	z-index: 1;
	padding-left: 10px
}

.tabmenu li {
	display: inline;
	overflow: hidden;
	list-style-type: none;
}

.tabmenu a,a.active {
	color: #996600;
	border: 1px solid black;
	padding: 2px 3px 0px 3px;
	margin: 0px;
	text-decoration: none;
}

.tabmenu a.active {
	color: #996600;
	border-bottom: 2px solid white;
}

.tabmenu a:hover {
	color: #996600;
}

.tabmenu a:visited {
	color: #996600;
}

.tabmenu a.active:hover {
	color: #996600;
}

.tabcontent {
	text-align: justify;
	padding: 5px;
	border: 1px solid black;
	border-top: none;
	z-index: 2;
}

.frameSet {
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
}

.noBorder {
	border: none;
}

.subtitle {
	background-color: #800000;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: bold;
	height: 20px;
	width: 100%;
	vertical-align: middle;
}

#error {
	color: red;
	background: #ffc;
	border: 1px solid #4682b4;
	padding: 2px;
	padding-left: 4px;
	margin: 5px 0px 5px 0px;
	font-family: verdana, geneva, arial, helvetica, sans-serif;
	text-transform: none;
	font-size: 1.6em;
}

#prePostError {
	color: red;
	background: #ffc;
	border: 1px solid #4682b4;
	padding: 2px;
	font-family: tahoma;
	text-transform: capitalize;
	font-size: 7pt;
	width: auto;
	height: 40px;
	overflow: auto;
}

#success {
	color: blue;
	background: #ffc;
	border: 1px solid #4682b4;
	padding: 2px;
	padding-left: 4px;
	margin: 5px 0px 5px 0px;
	font-family: verdana, geneva, arial, helvetica, sans-serif;
	font-size: 1.6em;
}

.help {
	z-index: 500;
	position: absolute;
	top: 0px;
	left: 0px;
	color: blue;
	background: #ffc;
	border: 1px solid #4682b4;
	padding: 2px;
	padding-left: 4px;
	text-transform: none;
	visibility: hidden;
}

.inpError {
	background-color: #FFE1FD;
}

.error {
	color: red;
	text-transform: capitalize;
}

* html #breadCrumb {
	height: 1%;
}

.readOnly {
	background-color: #D0D0D0;
}

#breadCrumb ul {
	list-style: none;
	padding: 0;
	margin: 0;
	font-family: verdana, sans-serif;
	line-height: 1.2em;
}

#breadCrumb ul li {
	float: left;
	width: 5em;
}

#contents {
	margin: 8px 14px 5px 10px;
	position: relative;
}

#header {
	text-decoration: none;
	text-transform: none;
	font-size: 9px;
}

#footer_login {
	width: 100%;
	text-decoration: none;
	text-transform: none;
	font-size: 9px;
	text-align: center;
	border-top: 1px dashed #888;
	margin: 0.3em;
}

#footer table {
	width: 99%;
	margin: 0px;
	padding: 0px;
}

#footer table tr td {
	text-decoration: none;
	text-transform: none;
	font-size: 9px;
}

.sideMenu {
	width: 20em;
	margin-bottom: 1em;
	border-top: 1px solid #8a867a;
}

.sideMenu ul {
	list-style: none;
	margin: 0;
	padding: 0;
	border: none;
}

.sideMenu li {
	border-bottom: 1px solid #8a867a;
	border-left: 1px solid #8a867a;
	border-right: 1px solid #8a867a;
	margin: 0;
}

.sideMenu li a,.sideMenu li a:visited {
	cursor: pointer;
	display: block;
	padding: 1px 1px 1px 0.5em;
	background-color: #ece9d8;
	color: black;
	text-decoration: none;
	width: 100%;
}

html>body .sideMenu li a {
	width: auto;
}

.sideMenu li a:hover {
	background-color: #c1d2ee;
	color: black;
}

.sideMenu ul li ul {
	background-color: #ece9d8;
}

.sideMenu ul li ul li {
	border: none;
	margin-left: 1.5em;
	margin-right: 1em;
	margin-bottom: 0.3em;
}

.sideMenu ul li ul li a:hover {
	background-color: #c1d2ee;
	color: black;
}

/* TreeView DHTMLX Styles */
.defaultTreeTable {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.containerTableStyle {
	overflow: auto;
	font-size: 10px;
	text-transform: capitalize;
}

.standartTreeRow {
	font-family: verdana, geneva, arial, helvetica, sans-serif;
	font-size: 10px;
	text-transform: capitalize;
	-moz-user-select: none;
}

.selectedTreeRow {
	background-color: navy;
	color: white;
	font-family: verdana, geneva, arial, helvetica, sans-serif;
	font-size: 10px;
	text-transform: capitalize;
	-moz-user-select: none;
}

.standartTreeImage {
	width: 18px;
	height: 18px;
	overflow: hidden;
	border: 0;
	padding: 0;
	margin: 0;
}

.hiddenRow {
	width: 1px;
	overflow: hidden;
}

.dragSpanDiv {
	font-size: 10px;
	text-transform: capitalize;
	border: 1px solid;
}

/* --- AUTOCOMPLETE CSS --- */
.autocomplete {
	position: absolute;
	color: #333;
	background-color: #fff;
	border: 1px solid #666;
	font-family: arial;
	overflow: hidden;
}

.autocomplete ul {
	padding: 0;
	margin: 0;
	list-style: none;
	overflow: auto;
}

.nowrap {
	white-space: nowrap;
}

.autocomplete li {
	display: block;
	white-space: nowrap;
	cursor: pointer;
	margin: 0px;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #fff;
}

.autocomplete li.selected {
	background-color: #cef;
	border-top: 1px solid #9bc;
	border-bottom: 1px solid #9bc;
}

/* Tabmenu */
.tabs {
	position: relative;
	height: 18px;
	margin: 0;
	padding: 0;
	background: url("../image/tab_off.gif") repeat-x;
	overflow: hidden
}

.tabs li {
	display: inline;
}

.tabs a:hover,.tabs a.tab-active {
	background: #fff url("../image/tab_on.gif") repeat-x;
	border-right: 1px solid #fff
}

.tabs a {
	height: 18px;
	font: 10px verdana, helvetica, sans-serif;;
	font-weight: bold;
	position: relative;
	padding: 3px 5px 5px 5px;
	margin: 0px -4px 0px 0px;
	color: #2b4353;;
	text-decoration: none;;
	border-left: 1px solid #fff;
	border-right: 1px solid #6d99b6;
	
}

.tab-container {
	border: 1px solid #6d99b6;
	width: 100%;
	margin: 2px 2px 2px 2px;
}

.tab-panes {
	margin: 3px;
	text-align: left;
	text-align: center;
}

.panes {
	background-color: #f7f7f7;
}

#formFrame {
	width: 100%;
	height: 100px;
}

/**/
#blanket {
	background-color: #111;
	opacity: 0.65;
	filter: alpha(opacity = 65);
	position: absolute;
	z-index: 9001;
	top: 0px;
	left: 0px;
	width: 100%;
}

#popUpDiv {
	position: absolute;
	background-color: #eeeeee;
	width: 300px;
	height: 300px;
	z-index: 9002;
}