@CHARSET "ISO-8859-1";

body {
	font:normal 14px  Arial, Helvetica, sans-serif;
	color: #666666;
}

.form_input {
	width: 100%	
}

.inpError {
	background-color: #B2D6AA;
}

.button_area {
	 padding: 5px 0px 5px 0px;
	 text-align: center;
}

#error {
	border: 1px solid #476D33;
	background-color: #B2D6AA;
	color: #618325;
	padding: 5px; 
}

.form_input th {
	background: url('../mallinsurance_images/head_table.jpg') repeat-x; 
	height: 30px;
	color:#fff;
}
.form_input td {
	padding-left: 3px;	
}

.risk_result {
	padding-left: 5px;
	color: #CC0000;
	font-size: 25px;
	font-weight: bold;
}	

.result_table {
	width: 100%;
	border:1px solid #CC0000;
	border-collapse: collapse;
}
.result_table tr.odd { background-color: #FFF2F2; }
.result_table tr.even { background-color: #FED9D9; }
.result_table th {
	border:1px solid #CC0000;
	height: 59px;
	background: url("../mallinsurance_images/head_table.jpg") repeat-x;
	font-size: 12px;
	color: #FFFFFF;
	padding: 0px 15px 0px 15px;
}
.result_table td {
	border:1px solid #CC0000;
	font-size: 12px;
	color: #CC0000;
	padding: 5px;	
}
.result_table td.bold {
	font-weight: bold;
	text-align: center; 
}

.result_table2 {
	width: 100%;
	/*border:1px solid #CC0000;*/
	border-collapse: collapse;
}
.result_table2 tr.odd { background-color: #FFF2F2; }
.result_table2 tr.even { background-color: #FED9D9; }
.result_table2 th {
	/*border:1px solid #CC0000;*/
	height: 30px;
	background: url("../mallinsurance_images/head_table.jpg") repeat-x;
	font-size: 12px;
	color: #FFFFFF;
	padding: 0px 1px 0px 1px;
}
.result_table2 td {
	border:0px;
	font-size: 12px;
	color: #000000;
	/*color: #CC0000;
	/*background-color:FFF2F2;*/
	border:1px solid #000000;
	padding: 5px;	
}
.result_table2 td.bold {
	font-weight: bold;
	text-align: center;
}	 

.no_line, .no_line td  { border:0px; }
.no_line td.title { font-weight: bold; }
.no_line td.content { text-align: justify; }
.no_line td.ratio {
	font-weight: bold;
	color: #1170A0;
}

.tamu {
	width: 100%;	
	font-size: 20px;	
}
.tamu th {
	color: #666666;
	text-align: right;
	padding: 0px 10px 3px 0px;
	
	font-weight: normal;	
}
.tamu td {
	color: #5C0101;
	font-weight: normal;	
}

fieldset {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}
legend {
	color: #CC0000;
	font-size: 12px;
	font-weight: bold;
	padding: 0.5em;
}

.button1 {
   background: transparent url('../mallinsurance_images/r_1_2.png') no-repeat scroll top right; 
	display: block;
	float: left;
	height: 36px; 
	margin-right: 6px;
	padding-right: 24px;
	text-decoration: none;
	color: #FFFFFF;
	font-family: Arial Narrow, Helvetica, sans-serif;
	font-size:16px;
}
.button1:hover {
   background: transparent url('../mallinsurance_images/o_1_2.png') no-repeat scroll top right; 
	display: block;
	float: left;
	height: 36px; 
	margin-right: 6px;
	padding-right: 24px;
	text-decoration: none;
	color: #FFFFFF;
	font-family: Arial Narrow, Helvetica, sans-serif;
	font-size:16px;
}
a.button1 span {
	background: transparent url('../mallinsurance_images/r_1_1.png') no-repeat; 
	display: block;
	line-height: 36px;
	padding: 0px 0 5px 26px;
} 
a.button1:hover span{
	background: transparent url('../mallinsurance_images/o_1_1.png') no-repeat; 
	display: block;
	line-height: 36px;
	padding: 0px 0 5px 26px;
}
.button2 {
   background: url('../mallinsurance_images/r_0_0.png') no-repeat scroll top; 
   background-color:Transparent;
   border:0px;
	height: 26px; 
	width: 160px; 
	margin-right: 6px;
	padding-right: auto;
	padding-left: auto;
	text-decoration: none;
	color: #FFFFFF;
	font-family: Arial Narrow, Helvetica, sans-serif;
	font-size:14px;
}
.button2:hover {
   background: transparent url('../mallinsurance_images/o_1_2.png') no-repeat scroll top right; 
	display: block;
	float: left;
	height: 26px; 
	margin-right: 6px;
	padding-right: 24px;
	text-decoration: none;
	color: #FFFFFF;
	font-family: Arial Narrow, Helvetica, sans-serif;
	font-size:16px;
}
.button2 span {
	background: transparent url('../mallinsurance_images/r_2_1.png') no-repeat; 
	display: block;
	line-height: 36px;
	padding: 0px 0 5px 26px;
} 
.button2:hover span{
	background: transparent url('../mallinsurance_images/o_2_1.png') no-repeat; 
	display: block;
	line-height: 36px;
	padding: 0px 0 5px 26px;
}
.button3 {
   background: transparent url('../mallinsurance_images/r_1_2.png') no-repeat scroll top right; 
	display: block;
	float: left;
	height: 36px; 
	margin-right: 6px;
	padding-right: 24px;
	text-decoration: none;
	color: #FFFFFF;
	font-family: Arial Narrow, Helvetica, sans-serif;
	font-size:16px;
}
.button3:hover {
   background: transparent url('../mallinsurance_images/o_1_2.png') no-repeat scroll top right; 
	display: block;
	float: left;
	height: 36px; 
	margin-right: 6px;
	padding-right: 24px;
	text-decoration: none;
	color: #FFFFFF;
	font-family: Arial Narrow, Helvetica, sans-serif;
	font-size:16px;
}
a.button3 span {
	background: transparent url('../mallinsurance_images/r_3_1.png') no-repeat; 
	display: block;
	line-height: 36px;
	padding: 0px 0 5px 26px;
} 
a.button3:hover span{
	background: transparent url('../mallinsurance_images/o_3_1.png') no-repeat; 
	display: block;
	line-height: 36px;
	padding: 0px 0 5px 26px;
}

table.menu td.content {
	 padding-top: 15px;	
	 background: url('../mallinsurance_images/nav_m.png');
}
table.menu td.content a {
	text-decoration: none;
	color: #ffffff;
	font-family: Arial Narrow, Helvetica, sans-serif; 
	font-size: 18px;	
	padding: 0px 10px 0px 10px;
}

.box {
	z-index: 2;
	position: relative;
	zoom: 1;
	background-color: #fff;
	filter: progid:DXImageTransform.Microsoft.DropShadow(color='#000000',offX='1',offY='2');
	
	-moz-box-shadow: 0px 4px 7px #000; /* Firefox */
	-webkit-box-shadow: 0px 4px 7px #000; /* Safari and Chrome */
	box-shadow: 0px 4px 7px #000; /* Opera 10.5+, future browsers and IE6+ using IE-CSS3 */
	
	behavior: url('../ie-css3.htc'); /* This lets IE know to call the script on all elements which get the 'box' class */

	
}