@CHARSET "ISO-8859-1";

body {
	font:normal 20px  Arial, Helvetica, sans-serif;
	color: #000;
	text-transform: uppercase;	
}

.button_area {
	 padding: 5px 0px 5px 0px;
	 text-align: center;
}
.no_border {
	border: 0px;	
}

input.read_only {
	background-color: #D7D2D0;
	border: 1px solid #C0C0C0;
}

#error {
	font-size: 12px;
	border: 1px solid #476D33;
	background-color: #B2D6AA;
	color: #618325;
	padding: 5px; 
}
.input_error {
	border: 1px solid #476D33;
	background-color: #B2D6AA;
}

table .form_input {
	width: 100%;
}
table .form_input th {
	background: url('../images/head_table.jpg') repeat-x; 
	height: 30px;
	color:#fff;
}
table .form_input th.sub1 {
	background: #BAB2AF;
	height: 20px;
}	
table .form_input td {
	padding: 0px 3px 0px 3px;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc; 	
	font-size: 14px;
}

table .form_input td.input {
	text-align: right;
}	

table .form_input td.bold {
	text-align: right;
	font-weight: bold;	
	padding: 3px 10px 3px 0px;
}	

table .form_input td.value {
	text-align: right;
	padding-right: 8px;
	font-size: 14px;
	color: #000;
}

table .form_input td.total {
	text-align: right;
	padding-right: 8px;
	font-size: 16px;
	color: #B20503;	
	font-weight: bold;
}	

.risk_result {
	padding-left: 5px;
	color: #CC0000;
	font-size: 25px;
	font-weight: bold;
}	

table .result_table {
	
	width: 100%;
	border:1px solid #CC0000;
	border-collapse: collapse;
}
table .result_table tr.odd { background-color: #FFF2F2; }
table .result_table tr.even { background-color: #FED9D9; }
table .result_table th {
	border:1px solid #CC0000;
	height: 59px;
	background: url("../images/head_table.jpg") repeat-x;
	font-size: 16px;
	color: #FFFFFF;
	padding: 0px 15px 0px 15px;
}
/*table .result_table tr th.2nd_ed {
	font-size: 12px;
	height: 30px;
	padding: 5px 0px 5px 0px;
}*/
table .result_table td {
	border:1px solid #CC0000;
	font-size: 16px;
	color: #CC0000;
	padding: 5px;	
}
table .result_table td.bold {
	font-weight: bold;
	text-align: center;
}	 

table .no_line, table .no_line td  { border:0px; }
table .no_line td.title { font-weight: bold; }
table .no_line td.content { text-align: justify; }
table .no_line td.ratio {
	font-weight: bold;
	color: #1170A0;
}

table .tamu {
	width: 100%;	
	font-size: 20px;
}
table .tamu th {
	color: #666666;
	text-align: right;
	padding: 0px 10px 3px 0px;
	
	font-weight: normal;	
}
table .tamu td {
	color: #5C0101;
	font-weight: normal;	
}

fieldset {
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
}
legend {
	color: #CC0000;
	font-size: 12px;
	font-weight: bold;
	padding: 0.5em;
}

.button1 {
   background: transparent url('../images/r_1_2.png') no-repeat scroll top right; 
	display: block;
	float: left;
	height: 36px; 
	margin-right: 6px;
	padding-right: 24px;
	text-decoration: none;
	color: #FFFFFF;
	font-family: Arial Narrow, Helvetica, sans-serif;
	font-size:16px;
}
.button1:hover {
   background: transparent url('../images/o_1_2.png') no-repeat scroll top right; 
	display: block;
	float: left;
	height: 36px; 
	margin-right: 6px;
	padding-right: 24px;
	text-decoration: none;
	color: #FFFFFF;
	font-family: Arial Narrow, Helvetica, sans-serif;
	font-size:16px;
}
a.button1 span {
	background: transparent url('../images/r_1_1.png') no-repeat; 
	display: block;
	line-height: 36px;
	padding: 0px 0 5px 26px;
} 
a.button1:hover span{
	background: transparent url('../images/o_1_1.png') no-repeat; 
	display: block;
	line-height: 36px;
	padding: 0px 0 5px 26px;
}
.button2 {
   background: transparent url('../images/r_1_2.png') no-repeat scroll top right; 
	display: block;
	float: left;
	height: 36px; 
	margin-right: 6px;
	padding-right: 24px;
	text-decoration: none;
	color: #FFFFFF;
	font-family: Arial Narrow, Helvetica, sans-serif;
	font-size:16px;
}
.button2:hover {
   background: transparent url('../images/o_1_2.png') no-repeat scroll top right; 
	display: block;
	float: left;
	height: 36px; 
	margin-right: 6px;
	padding-right: 24px;
	text-decoration: none;
	color: #FFFFFF;
	font-family: Arial Narrow, Helvetica, sans-serif;
	font-size:16px;
}
a.button2 span {
	background: transparent url('../images/r_2_1.png') no-repeat; 
	display: block;
	line-height: 36px;
	padding: 0px 0 5px 26px;
} 
a.button2:hover span{
	background: transparent url('../images/o_2_1.png') no-repeat; 
	display: block;
	line-height: 36px;
	padding: 0px 0 5px 26px;
}
.button3 {
   background: transparent url('../images/r_1_2.png') no-repeat scroll top right; 
	display: block;
	float: left;
	height: 36px; 
	margin-right: 6px;
	padding-right: 24px;
	text-decoration: none;
	color: #FFFFFF;
	font-family: Arial Narrow, Helvetica, sans-serif;
	font-size:16px;
}
.button3:hover {
   background: transparent url('../images/o_1_2.png') no-repeat scroll top right; 
	display: block;
	float: left;
	height: 36px; 
	margin-right: 6px;
	padding-right: 24px;
	text-decoration: none;
	color: #FFFFFF;
	font-family: Arial Narrow, Helvetica, sans-serif;
	font-size:16px;
}
a.button3 span {
	background: transparent url('../images/r_3_1.png') no-repeat; 
	display: block;
	line-height: 36px;
	padding: 0px 0 5px 26px;
} 
a.button3:hover span{
	background: transparent url('../images/o_3_1.png') no-repeat; 
	display: block;
	line-height: 36px;
	padding: 0px 0 5px 26px;
}

.button4 {
   background: url('../mallinsurance_images/r_0_0.png') no-repeat scroll top; 
   background-color:Transparent;
   border:0px;
	height: 26px; 
	width: 160px; 
	margin-right: 6px;
	padding-right: auto;
	padding-left: auto;
	text-decoration: none;
	color: #FFFFFF;
	font-family: Arial Narrow, Helvetica, sans-serif;
	font-size:14px;
}
	
table.menu td.content {
	 padding-top: 15px;	
	 background: url('../images/nav_m.png');
}
table.menu td.content a {
	text-decoration: none;
	color: #ffffff;
	font-family: Arial Narrow, Helvetica, sans-serif; 
	font-size: 18px;	
	padding: 20px 10px 20px 10px;
}

.box {
	z-index: 2;
	position: relative;
	zoom: 1;
	background-color: #fff;
	filter: progid:DXImageTransform.Microsoft.DropShadow(color='#000000',offX='1',offY='2');
	
	-moz-box-shadow: 0px 4px 7px #000; /* Firefox */
	-webkit-box-shadow: 0px 4px 7px #000; /* Safari and Chrome */
	box-shadow: 0px 4px 7px #000; /* Opera 10.5+, future browsers and IE6+ using IE-CSS3 */
	
	behavior: url('../ie-css3.htc'); /* This lets IE know to call the script on all elements which get the 'box' class */
}

.fullBg {
	position: fixed;
	top: 0;
	left: 0;
	overflow: hidden;
}

#maincontent {
	position: absolute;
	top: 0px;
	left: 0;
	z-index: 10;
	width: 100%;
	background: #fff;
	opacity: 0.85; 
	filter: alpha(opacity=85);
}

/* --- AUTOCOMPLETE CSS --- */
.autocomplete {
	font-size: 11px;
	position: absolute;
	color: #333;
	background-color: #fff;
	border: 1px solid #7F9DB9;
	font-family: arial;
	overflow: hidden;
}

.autocomplete ul {
	padding: 0;
	margin: 0;
	list-style: none;
	overflow: auto;
}

.nowrap {
	white-space: nowrap;
}

.autocomplete li {
	display: block;
	white-space: nowrap;
	cursor: pointer;
	margin: 0px;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #fff;
}

.autocomplete li.selected {
	background-color: #A9D4FF;
	border-top: 1px solid #A9D4FF;
	border-bottom: 1px solid #A9D4FF;
}

input.bacNavigation {
	cursor: pointer;
	height: 27px;
	width: 99px;
	border: none;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

.result_table2 {
	width: 100%;
	/*border:1px solid #CC0000;*/
	border-collapse: collapse;
}
.result_table2 tr.odd { background-color: #FFF2F2; }
.result_table2 tr.even { background-color: #FED9D9; }
.result_table2 th {
	/*border:1px solid #CC0000;*/
	height: 30px;
	background: url("../mallinsurance_images/head_table.jpg") repeat-x;
	font-size: 12px;
	color: #FFFFFF;
	padding: 0px 1px 0px 1px;
}
.result_table2 td {
	border:0px;
	font-size: 14px;
	font : arial;
	color: #000000;
	/*color: #CC0000;
	/*background-color:FFF2F2;*/
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc; 	
	padding: 5px;	
}
.result_table2 td.bold {
	font-weight: bold;
	text-align: center;
}	 